In [1]:
import numpy as np
import pandas as pd

In [8]:
righe = np.arange(1,6)
colonne = list('ABCDF')

In [12]:
df = pd.DataFrame(np.random.randint(10, size=(5,5)),index=righe,columns=colonne)
print (df)

   A  B  C  D  F
1  8  1  5  4  1
2  6  8  0  8  8
3  3  2  9  2  3
4  4  4  9  7  7
5  6  9  5  6  9

In [13]:
azioni_definizione=[('nome','U25'),('simbolo','U5'),('last_price','f8')]

In [14]:
azioni_array=np.array([('APPLE','AAPL',272.24),('MICROSOFT','MSFT',153.44),('NETFLIX','NFLX',301.49)],dtype=azioni_definizione)

In [15]:
df=pd.DataFrame(azioni_array)

In [16]:
df.head()

        nome simbolo  last_price
0      APPLE    AAPL      272.24
1  MICROSOFT    MSFT      153.44
2    NETFLIX    NFLX      301.49

In [20]:
df = pd.read_csv('btceu.csv', sep=',')

In [21]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-12,6606.509766,7307.669922,6601.169922,7238.939941,7238.939941,168800447
1,2018-02-11,7005.089844,7005.089844,6424.439941,6606.509766,6606.509766,130298613
2,2018-02-10,7084.979980,7435.410156,6684.930176,7004.350098,7004.350098,203999393
3,2018-02-09,6755.160156,7157.939941,6368.669922,7085.009766,7085.009766,197249406
4,2018-02-08,6177.359863,7094.399902,6169.850098,6755.160156,6755.160156,223773717

In [22]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
6,2018-02-06,5485.209961,6442.209961,4725.240234,6207.049805,6207.049805,573323711
7,2018-02-05,6544.209961,6703.109863,5255.290039,5480.879883,5480.879883,422397032
8,2018-02-04,7424.270020,7536.310059,6241.620117,6544.209961,6544.209961,224046248
9,2018-02-03,7098.779785,7639.790039,6546.779785,7424.290039,7424.290039,186666408
10,2018-02-02,7179.600098,7377.439941,6003.399902,7097.120117,7097.120117,478795253