In [6]:
import numpy as np
import pandas as pd

In [7]:
righe=list('ABCDE')
colonne=list('FGHIL')

In [8]:
df=pd.DataFrame(np.random.randint(10,size=(5,5)),index=righe,columns=colonne)

In [9]:
df

   F  G  H  I  L
A  7  0  6  6  4
B  1  0  5  7  0
C  0  3  7  8  6
D  3  2  6  2  5
E  4  4  7  6  5

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 5 columns):
F    5 non-null int32
G    5 non-null int32
H    5 non-null int32
I    5 non-null int32
L    5 non-null int32
dtypes: int32(5)
memory usage: 140.0+ bytes

In [12]:
df.dtypes

F    int32
G    int32
H    int32
I    int32
L    int32
dtype: object

In [13]:
df.describe()

              F         G        H         I         L
count  5.000000  5.000000  5.00000  5.000000  5.000000
mean   3.000000  1.800000  6.20000  5.800000  4.000000
std    2.738613  1.788854  0.83666  2.280351  2.345208
min    0.000000  0.000000  5.00000  2.000000  0.000000
25%    1.000000  0.000000  6.00000  6.000000  4.000000
50%    3.000000  2.000000  6.00000  6.000000  5.000000
75%    4.000000  3.000000  7.00000  7.000000  5.000000
max    7.000000  4.000000  7.00000  8.000000  6.000000