In [1]:
import numpy as np
import pandas as pd

In [2]:
righe=list('ABCDE')
colonne=list('FGHIL')

In [3]:
df=pd.DataFrame(np.random.randint(10,size=(5,5)),index=righe,columns=colonne)

In [4]:
df

   F  G  H  I  L
A  1  7  8  3  4
B  9  2  7  1  1
C  5  5  9  8  5
D  4  5  1  5  6
E  1  7  3  9  6

In [14]:
df['G']>5

A     True
B    False
C    False
D    False
E     True
Name: G, dtype: bool

In [15]:
df[df['G']>5]

   F  G  H  I  L
A  1  7  8  3  4
E  1  7  3  9  6

In [16]:
df[df['G']<7]['L']

B    1
C    5
D    6
Name: L, dtype: int32

In [17]:
df[df['G']>0]['L'].loc['D']

6

In [25]:
df[(df['G']>3) & (df['G']<8)]

   F  G  H  I  L
A  1  7  8  3  4
C  5  5  9  8  5
D  4  5  1  5  6
E  1  7  3  9  6

In [22]:
df[(df['G']>5) | (df['G']<2)]

   F  G  H  I  L
A  1  7  8  3  4
E  1  7  3  9  6

In [23]:
df

   F  G  H  I  L
A  1  7  8  3  4
B  9  2  7  1  1
C  5  5  9  8  5
D  4  5  1  5  6
E  1  7  3  9  6

In [24]:
df[(df['G']>3) & (df['H']<8)]

   F  G  H  I  L
D  4  5  1  5  6
E  1  7  3  9  6

In [17]:
df[(df['G']>4) | (df['H']<4)]

   F  G  H  I  L
B  8  2  3  4  7
D  7  6  3  3  5
E  9  5  2  3  7